.txt {
  margin: auto;
  width: 60rem;

  padding: 10px;
}
#heading {
  color: darkred;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  margin: 0px 5px;
  justify-content: center;
}
.grid img {
  width: 18rem;
  height: 13rem;
  border-radius: 2rem;
}
.griditems {
  height: 15rem;
  width: 20rem;
}
